
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    text-align: center;
    background-color: rgb(50, 109, 148);
    justify-content: space-between;
    list-style: none;
}

.center {
    margin-top: 30px;
}

.center_left {
    margin-top: 30px;
    padding-right: 12px;
}

.center_right {
    display: flex;
    justify-content: center;
    padding-left: 12px;
}

.center_right button{
    background-color: transparent;
    border: none;
}   

.center_right span{
    font-size: 42px;
}

.center_right span:hover{
    animation: refreshRotate 2s ease-in-out infinite;
}

@keyframes refreshRotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mainScreen {
    display: flex;
    justify-content: space-between;
    border: solid 4px red ;
}
/*main .mainScreen*/
#gdiv {
    background-color: aliceblue;
    width: 75%;
    border: solid 10px orange;
}

#gdiv, form {}

#rdiv {
    background-color: rgb(133, 133, 202);
    right: 0px;
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.choices {
    display: flex;
    background-color: aquamarine;
    justify-content: space-around;
    align-items: center;
}

.btn{
    margin: 12px;
	box-shadow: 5px 5px 5px -1px #08baf5;
	background-color:#ffffff;
	border-radius:15px;
	border:3px solid #babad4;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-weight:bold;
	padding:12px;
	text-decoration:none;
    text-align: center;
    width: 100px;

}

.btn:hover {
	background-color:#bab1ba;
}
.btn:active {
	position:relative;
	top:1px;
}

.choicesPicked{
    background-color: #b53db5;
}

