
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #252523;
}

.nav {
    display: flex;
    text-align: center;
    background-color: #595959;
    justify-content: space-between;
    list-style: none;
}

.center {
    margin-top: 30px;
}

.center_left {
    margin-top: 30px;
    padding-right: 12px;
}

.center_right {
    display: flex;
    justify-content: center;
    padding-left: 12px;
}

.center_right button{
    background-color: transparent;
    border: none;
}   

.center_right span{
    font-size: 42px;
    color: #66C2FF;
}

.center_right span:hover{
    animation: refreshRotate 1s ease-in-out infinite;
    color: #D8282D ;
}

@keyframes refreshRotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mainScreen {
    display: flex;
    justify-content: space-between;
    border: solid 4px #252523 ;
    border-left: 0px;
    border-right: 0px;
    height: 420px;
}
/*main .mainScreen*/
#gdiv {
    background-color: aliceblue;
    width: 75%;
    padding: 10px;
}

.text1{
    margin: auto;
    text-align: center;
    flex: auto;
    justify-content: center;
}

#formErrorMessages {
    color: red;
}

#rdiv {
    background-color: rgb(133, 133, 202);
    right: 0px;
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-left: solid 5px  #252523;;
}

.choices {
    height: 100px;
    display: flex;
    background-color: #595959;
    justify-content: space-around;
    align-items: center;
    border-top: solid 0px #252523;
    border-bottom: solid 5px #252523;

    width: 100%;
}

.btn{
    /* margin: 12px; */
	box-shadow: 5px 5px 5px -1px #595959;
	background-color:#66C2FF;
	border-radius:15px;
	border:3px solid #babad4;   
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-weight:bold;
	padding:12px;
	text-decoration:none;
    text-align: center;
    width: 100px;
    animation: appear 0.5s ease-in-out;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.appearingText {
    animation: textappear 0.5s ease-in-out;
}

@keyframes textappear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.btn:hover {
	background-color:#D8282D;
    
}
/* .btn:active {
	position:relative;
	top:1px;
} */

.choicesPicked{
    background-color: #595959;
    width: 100%;
    /*position: absolute;*/
    bottom: 0px;        
    border-top: solid 5px #252523;
    border-bottom: solid 5px #252523;
}

#choicesPickedDisplay {
    color:white;
}